.loader {
  width: 25px;
  height: 25px;
  border: 5px solid #710193;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  width: 450px;
}
.cat-info {
  display: flex;
  max-width: 900px;
  gap: 20px;
  margin: 30px auto 0px auto;
}

select {
  height: 25px;
}

/* ****** */

body {
  padding: 30px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  box-sizing: border-box;
}

select {
  position: relative;
  display: block;
  width: 250px;
  /* margin: 0 auto; */
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial',
    sans-serif;
  font-size: 18px;
  color: #60666d;
  margin-right: 10px;
}

.select-container {
  display: flex;
  justify-content: center;
}
